* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.addTodo {
  text-align: center;
  margin: 20px;
}

.addTodo input {
  width: 50%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
  margin-right: 2%;
}

.addTodo button {
  width: 20%;
  padding: 1%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.todoList {
  width: 60%;

  margin: 2% 0 2% 0;
  overflow-y: scroll;
  text-align: center;
  background-color: #3a2b58;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.todo {
  text-align: center;
  margin-bottom: 2%;
  padding: 1%;
  width: 60%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.todo h2 {
  margin-bottom: 2%;
}

.todo button {
  font-size: 20px;
  padding: 1%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1%;
}

.notCompletedBtn {
  color: rgb(150, 148, 148);
  background-color: #3a2c5e;
}

.notCompletedBtn:hover:enabled {
  color: rgb(150, 148, 148);
  background-color: #3a2c5e;
}

.notCompletedBtn:hover:before {
  content: "Not ";
}

.notCompletedBtn:hover:after {
  content: "?";
}

button:hover:enabled {
  background-color: #fff;
  color: #603bbb;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.hero nav {
  background: #603bbb;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}

/**SANAZ**/

.character-container {
  background-color: #22254b;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 2px solid white;
  height: 500px;
  overflow: scroll;
}

.character {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
}

.character img {
  max-width: 100%;
}
.character-info {
  position: absolute;
  background-color: #fff;
  color: #22254b;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transfrom 0.3s ease-in-out;
}
.character:hover .character-info {
  transform: translateY(0%);
  background-color: #fff;
  color: #22254b;

}
header {
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.search {
  background-color: transparent;
  border: 2px solid #22254b;
  font-family: inherit;
  border-radius: 50px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1, 5rem;
}
.search:focus {
  outline: none;
}

.quiz-button{
  
  background-color: #fff;
  color: #22254b;
}

